.container {
  transition: 0.5s ease;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1rem solid rgba(253, 253, 253, 0.35);
}

.backgroundImage {
  background-size: cover;
  background-position: center;
  filter: blur(8px) brightness(0.7) grayscale(1);
  height:100vh;
  width: 100vw;
  position: absolute;
  z-index: -1;
}

.adjust {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: min(80rem, 75vw);
  text-align: center;
  color: white;
  // -webkit-text-stroke: 1px gray;
}

.albumCover {
  height: 320px;
  width: 320px;
}

.trackTitle {
  font-size: 4rem;
}

.artistName {
  font-size: 2rem;
}

.albumName {
  font-size: 1.5rem;
}

.progress {
  background-color: black;
  color: white;
  padding: 0.25rem;
  border-radius: 0.5rem;
}